


#article2
{ 
           width:35%;
           float:right;
           border:1px solid #000000;
}




#subMenu1, #subMenu2, #subMenu3, #subMenu4, #subMenu5
{
         position:relative;
         border:1px solid #000000;
         width:93%;
         height :25%;
         margin: 6px 6px;
         
}




/*#panel, #flip 
    {
        padding: 5px;
        text-align: center;
        background-color: #ffffff;
        border: solid 1px #c3c3c3;
    }*/





 #panel, #panel2, #panel3, #panel4, #panel5
    {
        padding: 50px;
        display: none;
    }