
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<h1>About us</h1>
<div class="article1" style="align-items:center">
    @*the would have a slide show*@
    <span><img id="maini" src="~/images/aboutus.jpg" style="width:785px;height:400px;align-content:center"></span>
</div>
<div class="article2">
    <h1>
        About us
    </h1>
    <p>
        LPE store its a new business started in 2016 may by pelle , pfariso and errol.
        we are also programmers of the website.
    </p>
    <h1>Developers</h1>

    <div class="article3" id="tray1" style="align-items:center">
        <span><img onmouseover="bigImg(this)" onmouseout="normalImg(this)" src="~/images/pl.jpg" style="width:150px;height:150px ; "></span>
        <div id="panel">
            <h1>Lepelle Sishibe </h1>
            <p> developer at dvt and studied at Tshwane university of technology </p>
        </div>
    </div>
    <div class="article3" id="tray2" style="align-items:center">
        <span><img onmouseover="bigImg(this)" onmouseout="normalImg(this)" src="~/images/pf.jpg" style="width:150px;height:150px "></span>
        <div id="panel2">
            <h1>Pfariso Budeli</h1>
            <p> developer at dvt and studied at Tshwane university of technology </p>

        </div>
    </div>
    <div class="article3" id="tray3" style="align-items:center">
        <span><img onmouseover="bigImg(this)" onmouseout="normalImg(this)" src="~/images/er.jpg"  style="width:150px;height:150px "></span>
        <div id="panel3">
            <h1>Errol chabalala </h1>
            <p> developer at dvt and studied at  university of south africa</p>


        </div>


    </div>
</div>



        <div id="subHAbout">


            <h3 style="margin-top:0px; margin-bottom: -57px;">  We believe that good design is powerful, hard work is essential, and exploring the unknown is important.</h3>

            <hr style="width:732px; margin-top:123px;">


            <hr style="width:732px; margin-top:193px;">

            <hr style="width:732px; margin-top:226px;">

            <div id="paragraphHolder">
                <p>We utilize an iterative process that focuses on the environment in which the user actually exists.</p>

                
                <div id="firstH">
                    service
                </div>
                </div>

                <div id="paragraphHolder">
                    <p>
                        We dig deep, explore opportunities, and execute on ideas worth a damn.
                        We work with individuals who understand Computers and our raw ingredient is time.
                        Collaboration is a must, egos are a no-go, and we prefer to do the work instead of just talk about it.
                    </p>

                </div>
                <div id="firstH">

                    Process
                </div>

                <div id="paragraphHolder">
                    <p>Fairness and Integrity</p>
                    <br>
                    <p>Innovation</p>
                    <br>
                    <p>LPE stores are the most profitable retail stores on the planet</p>
                    <br>
                    <p>There are six states that currently lack an official LPE retail presence: Montana, Vermont, West Virginia, North and South Dakota, and Wyoming.</p>

                </div>

                <div id="firstH">
                    Facts

                </div>


            </div>







