
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<h1>About us</h1>
<div class="article1" style="align-items:center">
    @*the would have a slide show*@
    <span><img id="maini" src="~/images/aboutus.jpg" style="width:785px;height:400px;align-content:center"></span>
</div>
<div class="article2">
    <h1>
        About us
    </h1>
    <p>
        LPE store its a new business started in 2016 may by pelle , pfariso and errol.
        we are also programmers of the website.
    </p>
    <h1>Developers</h1>

    <div class="article3" id="tray1">
        <span><img src="~/images/pl.jpg" style="width:100px;height:100px"></span>
        <div id="panel">
            <h1>Lepelle Sishibe </h1>
            <p> developer at dvt and studied at Tshwane university of technology </p>
        </div>
    </div>
    <div class="article3" id="tray2">
        <span><img src="~/images/pf.jpg" style="width:100px;height:100px"></span>
        <div id="panel2">
            <h1>Pfariso Budeli</h1>
            <p> developer at dvt and studied at Tshwane university of technology </p>

        </div>
    </div>
    <div class="article3" id="tray3">
        <span><img src="~/images/er.jpg" style="width:100px;height:100px"></span>
        <div id="panel3">
            <h1>Errol chabalala </h1>
            <p> developer at dvt and studied at  university of south africa</p>


        </div>


    </div>
</div>








        <div id="subHAbout">







            <h3 style="margin-top:0px; margin-bottom: -57px;">  We believe that good design is powerful, hard work is essential, and exploring the unknown is important.</h3>

            <hr style="width:732px; margin-top:123px;">


            <hr style="width:732px; margin-top:193px;">

            <hr style="width:732px; margin-top:226px;">



            <div id="firstH">
                service
            </div>



            <div id="firstH">

                Process
            </div>



            <div id="firstH">
                Team

            </div>





        </div>




