
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<h1>About us</h1>
<div class="article1" style="align-items:center">
    @*the would have a slide show*@
    <span><img id="maini" src="~/images/aboutus.jpg" style="width:785px;height:400px;align-content:center"></span>
</div>
<div class="article2">
   <p>
       
   <h1> Contact Us</h1><br />
       </p>


</div>

