
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<h1>About us</h1>
<div class="article1" style="align-items:center">
    @*the would have a slide show*@
    <span><img id="maini" src="~/images/aboutus.jpg" style="width:785px;height:400px;align-content:center"></span>
</div>
<div class="article2">
   <p><h1> Contact Us</h1></p>








</div>




 





<div id="subHAbout">





    <div id="info">

        <h3 style="margin-top:0px;">  We believe that good design is powerful, hard work is essential, and exploring the unknown is important.</h3>


        <hr style="width:229px; margin-top:40px;">

        <p>Generally what we do</p>


    </div>


    <hr style="width:229px; margin-top:139px;">

    <div id="firstH">
        service
    </div>



    <div id="firstH">
        Process
    </div>



    <div id="firstH">
       Team
    </div>





        </div>
   



