
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
#-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #ffffff;
    color: #000000;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: #000000;
}
    </style>
</head>
<body>

    <div>
        <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">

            <table align="center">
                <tr>
                    <td>
                        <label for="name">Your name:</label>
                    </td>
                    <td><input id="name" class="input" name="name" type="text" value="" size="30" /></td>
                </tr>
                <tr>
                    <td><label for="email">Your email:</label></td>
                    <td><input id="email" class="input" name="email" type="text" value="" size="30" /></td>
                </tr>
                <tr>
                    <td><input id="submit_button" type="submit" value="Send email" /></td>

                </tr>
                </form>
        <table></table>

    </div>

    <!-- Trigger/Open The Modal -->
    <button id="myBtn" align="center" >Display your details</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header"  align="center">
                <span class="close">×</span>
                <h2> <img src="~/images/Congratulations.jpg" style="width:20%;height:20%" /><br />
                    @{
                        if (IsPost)
                        {
                            var result = "";
                            string name = Request.Form["Name"];
                            string email = Request.Form["email"];
                            var userData = name + "," + email
                             + Environment.NewLine;

                            var dataFile = Server.MapPath("~/App_Data/data.txt");
                            File.AppendAllText(dataFile, userData);
                            result = "Information saved.";

                                <text>
                                    well done : <br />
                                    Name: @name <br />
                                    Email: @email <br />
                                </text>

                        }
                    }
                </h2>

            </div>
           
            <div class="modal-footer">
                <h3>contact ours  : admin@lpe.co.za </h3>
            </div>
        </div>

    </div>

    <script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
    </script>

</body>
</html>

@*<div class="article3" >
    <div>
        <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
          
                <table align="center">
                    <tr>
                        <td>
                            <label for="name">Your name:</label>
                        </td>
                        <td><input id="name" class="input" name="name" type="text" value="" size="30" /></td>
                    </tr>  
                    <tr>
                        <td><label for="email">Your email:</label></td>
                        <td><input id="email" class="input" name="email" type="text" value="" size="30" /></td>
                    </tr>
                    <tr>
                        <td><input id="submit_button" type="submit" value="Send email" /></td>
                        
                    </tr>
                  
            </div>

           
            </tr>
            </table>
        </form>

    </div>

    <style>
        #pop {
            height: 280px;
            width: 470px;
            position: fixed;
            bottom: 50%;
            right: 50%;
            border: 12px solid;
            padding: 10px;
            background: #ffffff;
            /*Bored-radius: 9px;*/
        }

        #close {
            right: 5;
            top: 5;
            float: right;
        }
    </style>

    <div id="pop" align="center">
        <button id="close" onclick="document.getElementById('pop').style.display='none'">
X</button>
        <a> Submitted </a>

        @{
            if (IsPost)
            {

                string name = Request.Form["Name"];
                string email = Request.Form["email"];

                <text>
                    well done : <br />
                    Name: @name <br />
                    Email: @email <br />
                </text>
            }
        }
    </div>

</div>*@




