@model web0._1.Models.ViewModel  
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
    int x = 1;
    string temp;
  
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link href="~/Style/Styler.css" rel="stylesheet">

<form action="/products/index" id="fontsForm">
    <input type="hidden" id="page" name="page">

    <div id="pic">

        <div class="article1">



            <div class="w3-container">
            </div>

            <div class="w3-content" style="max-width:800px;position:relative">

                <div class="w3-display-container mySlides">
                    <img src="~/images/d8.jpg" style="width:784px;height:398px;">
                    <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                       Technology ,Innovation
                    </div>
                </div>

                <div class="w3-display-container mySlides">
                    <img src="~/images/d10.jpg" style="width:783px;height:398px;">
                    <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
                       descount when you buy over R5000.,25% off
                    </div>
                </div>

                <div class="w3-display-container mySlides">
                    <img src="~/images/d8.jpg" style="width:783px;height:398px;">
                    <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
                       first parchase 50% descount on next parchase
                    </div>
                </div>

                <div class="w3-display-container mySlides">
                    <img src="~/images/d4.jpg" style="width:783px;height:398px;">
                    <div class="w3-display-topright w3-large w3-container w3-padding-16 w3-black">
                        The is no limit in technology  
                    </div>
                </div>

                <div class="w3-display-container mySlides">
                    <img src="~/images/d8.jpg" style="width:783px;height:398px;">
                    <div class="w3-display-middle w3-large w3-container w3-padding-16 w3-black">
                       online its the future
                    </div>
                </div>

                <a class="w3-btn-floating w3-hover-dark-grey" style="position:absolute;top:45%;left:0" onclick="plusDivs(-1)">❮</a>
                <a class="w3-btn-floating w3-hover-dark-grey" style="position:absolute;top:45%;right:0" onclick="plusDivs(1)">❯</a>

            </div>


        </div>

            <div class="article2">
@for (int i = 0; i < 9; i++)
{
    string pic2 = Model.GetPic(i);
    temp = "show" + x;
    x++;


                <div class="article3">
                    <span class="image" id=@temp onclick="showinfo('@temp')"><img src="~/images/"@Model.GetPic(i) style="width:100px;height:100px"></span>
                    <p class=@temp>@Model.GetNames(i)</p>
                    <p class=@temp>R:@Model.GetPrice(i)</p>
                </div>
}
            </div>
        </div>

 <script type="">
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
    </script>
</form>
  




  



















    @*<style>
            #panel, #flip
            {
                padding: 5px;
                text-align: center;
                background-color: #ffffff;
                border: solid 1px #c3c3c3;
            }



        </style>*@






