@model web0._1.Models.Products 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}


<div id="pic">

    <div class="article1">
        @*the would have a slide show*@
        <p>this would be the name of the company</p>
        <p>this would be the company vision</p>
        <p>this would be the mission</p>
    </div>

<div class="article2">
    @for (int i = 0; i < 5; i++)
    {
      @*@string name= m.name*@
          <div class="article3">
           
            //img src="~/images/nma.png">
        </div>
    }
    </div>
</div>
