@model web0._1.Models.Products 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<div id="pic">

    <div class="article1">
        @*the would have a slide show*@
        <p>this would be the name of the company</p>
        <p>this would be the company vision</p>
        <p>this would be the mission</p>
    </div>

<div class="article2">
    @for (int i = 0; i < 5; i++)
    {
      @*@string name= m.name*@
          <div class="article3" id="flip">
           
            @*img src="~/images/nma.png">*@
             
                 <img src="~/images/d1.jpg" style="width:100px;height:100px;" />
        
             <div id="panel">
                 <p>
                    Item Number: <span>125515</span><br />
                    Size List : <span>8/8.5/9.5/10/11</span><br />
                    Brand Name: <a href="#">Harman karman</a>
                 </p>
              </div>
          </div>
    } </div>
</div>
<style>
    #panel, #flip {
        padding: 5px;
        text-align: center;
        background-color: #ffffff;
        border: solid 1px #c3c3c3;
    }

    #panel {
        padding: 50px;
        display: none;
    }
</style>

<script>
      $(document).ready(function(){
           $("#flip").click(function(){
        $("#panel").slideToggle("slow");
          });
          });
</script>
