@model web0._1.Models.ViewModel  
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
    int x=1;
    string temp="";

}

<form action="/Product/Details" id="ProductForm">
    <input type="hidden" id="Productid" name="Productid" />
    <h1>Product Page</h1>

    <div id="pic">

        <div class="article1">
            <span onclick="getids('Productid')"><img id="maini" src="~/images/d4.jpg" style="width:785px;height:400px;align-content:center"></span>
      
        </div>
        
        <div class="article2">
     @foreach (var item in Model.product)
     {
        temp = "inner" + x;
        <div class="article3">
            <span class="image" onclick="changeimage('@item.Image_name','@temp',@x)"><img id=@temp src="~/images/@item.Image_name" style="width:100px;height:100px"></span>
            <p class=@temp>@item.Pro_Name</p>
            <p class=@temp>R:@item.Pro_price</p>
        </div>
        <br />
       
         x++;
     }


        </div>
    </div>
</form>

