@model web0._1.Models.ViewModel  
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
    object[] pro = new object[9];
    //int count = 9;

    var name = new string[9];
    var desc = new string[9];
    var price = new decimal[9];
    var imag = new string[9];
    int x=1;
    string temp;
    string newid;
    string newid2;
}

<form action="/Product/Details" id="ProductForm">
    <input type="hidden" id="Productid" name="Productid" />
    <h1>Product Page</h1>

    <div id="pic">

        <div class="article1">
            <span onclick="getids('Productid')"><img id="maini" src="~/images/d4.jpg" style="width:785px;height:400px;align-content:center"></span>
      
        </div>
        
        <div class="article2">
            @for (int i = 0; i < 5; i++)
            {

                string pic = Model.GetPic(i);
                temp = "inner" + x;
                newid = "somethingId" + x;
                newid2 = "something" + x;
                x++;

                <div class="article3">

                    <span class="image" onclick="changeimage('@pic','@temp',@x)"><img id=@temp src="~/images/@Model.GetPic(i)" style="width:100px;height:100px"></span>
                    <p class=@temp>@Model.GetNames(i)</p>
                    <p class=@temp>R:@Model.GetPrice(i)</p>
                </div>

            }
        </div>
    </div>
</form>

