@model web0._1.Models.ViewModel  
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<h1>Product Page</h1>

<div id="pic">

    <div class="article1">
        @*the would have a slide show*@
        <p>this would be the name of the company</p>
        <p>this would be the company vision</p>
        <p>this would be the mission</p>
    </div>

    <div class="article2">
        @foreach (var item in Model.GetValues())
        {
            <div class="article3" >
            
                <span class="image" id="inner"><img src="~/images/@Html.DisplayFor(modelItem => item.image)" style="width:100px;height:100px" /></span>
            
                <p id="p2">@Html.DisplayFor(modelItem => item.ProductName)</p>
                <p id="p2">@Html.DisplayFor(modelItem => item.ProductPrice)</p>

            </div>
        }


    </div>
</div>
<script type="text/javascript" >
    $(document).ready(function () {
        ("#p2").hide();
        $("#inner").click(function () {
            $(this).next().slideToggle(300);
        });

    });

</script>

